body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#time {
    margin-top: 15%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1000%;
    letter-spacing: -5px;
}

#quote {
    text-align: center;
    font-size: 25px;
    color: white;
}